/* HIDE */




html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, ol, ul, li, form, label { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none; }




html {
  background: #e4b897;
  font-size: 16px;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #333;
  font-size: 62.5%; /* 1em = 10px */
  padding: 50px;
}



.content {
  background: #fff;
  border-bottom: 3px solid #e1d9d3;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  margin: 0 auto;
  width: 500px;
}



h1 {
  font: bold 4em/80px ;
  padding: 0 20px 0 70px;
  text-align: right;
  text-transform: lowercase;
}
h3 {
  font: normal 1.8em/38px;
  padding: 2px 80px 0 70px;
  position: relative;
}
#app div div:last-child h3 {
  padding-bottom: 10px;
}
h3 input {
  left: 16px;
  position: absolute;
  top: 12px;
}
h3 a {
  color: #be7837;
  display: block;
  font-size: 1.8em;
  line-height: 38px;
  opacity: 1;
  padding-right: 20px;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: none;
  top: 2px;
  width: 40px;
}
h3 a:hover,
h3 a:focus {
  color: #8fc8d6;
}
.complete {
  color: #bbb;
  text-decoration: line-through;
}
.complete a {
  color: #bbb;
}

/* OTHER */ 

table, form {
  margin-bottom: 0;
}

h6 {
  font-weight: normal;
}

footer {
  margin-top: 17px;
}

#sash {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 10001;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

@media (max-width: 480px) {
  .sash {
    display: none;
  }
}

@media (max-width: 768px) {
  .sash {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .sash {
    display: none;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 40px;
  }

  .row {
    margin-top: 18px;
  }

  .alert {
    -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 40px;
  }

  .row {
    margin-top: 18px;
  }

  .alert {
    -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
            border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
            border-top-right-radius: 0;
  }
}
